.navLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  background-color: rgb(68 68 68);
}
.navLeft button {
  color: #fff;
  border-bottom: 1px solid #909090;
  border-radius: 0px;
  width: 100%;
  height: 80px;
  justify-content: center;
}
.navLeft button span {
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
}
