<div class="navLeft">
  <button class="btn d-flex flex-column align-items-center">
    <mat-icon>menu</mat-icon> <span>Menü</span>
  </button>
  <button class="btn d-flex flex-column align-items-center">
    <mat-icon> screenshot_region</mat-icon> <span>Bölgeler</span>
  </button>
  <button class="btn d-flex flex-column align-items-center">
    <mat-icon> view_column</mat-icon> <span>Siparişler</span>
  </button>
  <button class="btn d-flex flex-column align-items-center">
    <mat-icon> visibility</mat-icon> <span>Paketler</span>
  </button>
  <button class="btn d-flex flex-column align-items-center">
    <mat-icon> check_circle</mat-icon> <span>Hazırlar</span>
  </button>
  <button class="btn d-flex flex-column align-items-center">
    <mat-icon> work</mat-icon> <span></span>
  </button>
  <button class="btn" style="height: 150px"></button>
  <button class="btn d-flex flex-column align-items-center">
    <mat-icon> store</mat-icon> <span>Gel al</span>
  </button>
  <button class="btn d-flex flex-column align-items-center">
    <mat-icon> two_wheeler</mat-icon> <span>Paket</span>
  </button>
</div>
