<nav>
  <div class="d-flex flex-row">
    <button routerLink="/home" class="btn">
      <mat-icon> arrow_back</mat-icon>
    </button>
    <input
      class="form-control"
      type="text"
      style="width: 200px; color: white"
      placeholder="Masa {{ masaNo }} "
    />
    <button class="btn"><mat-icon>library_add</mat-icon></button>
    <button class="btn"><mat-icon>person</mat-icon></button>
    <button class="btn">MARŞ</button>
    <button class="btn"><mat-icon>redeem</mat-icon></button>

    <input
      class="form-control search"
      style="background-color: rgb(232, 228, 228)"
      type="text"
      placeholder="Ürün Adı Veya Barkod İle Arama"
    />
    <button class="btn"><mat-icon>group</mat-icon></button>
    <button class="btn"><mat-icon>description</mat-icon></button>
  </div>
</nav>
