<div class="d-flex flex-row">
  <app-nav-left></app-nav-left>
  <div>
    <nav class="navbar navbar-expand-lg" style="width: 1355px; height: 60px">
      <div class="container-fluid d-flex align-items-center">
        <a class="navbar-brand" href="#">Bölgeler</a>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <button mat-mini-fab style="background-color: rgb(245, 245, 245)">
                <mat-icon>home</mat-icon>
              </button></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <button mat-mini-fab>
                <mat-icon>refresh</mat-icon>
              </button></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <button mat-mini-fab>
                <mat-icon>lock</mat-icon>
              </button></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <button mat-mini-fab>
                <mat-icon>phone</mat-icon>
              </button></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <button mat-mini-fab>
                <mat-icon>more_vert</mat-icon>
              </button></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <button mat-mini-fab>
                <mat-icon>campaign</mat-icon>
              </button></a
            >
          </li>
        </ul>
        <form class="d-flex" role="search">
          <button class="btn btn1" type="submit">Kasa İşlemleri</button>
          <button class="btn btn2" type="submit">Destek İste</button>
          <button class="btn btn3" type="submit">Serdar</button>
        </form>
      </div>
    </nav>

    <div class="bg-light h-100">
      <div class="row m-2">
        <div class="col-2 mt-2" *ngFor="let masa of masalar">
          <mat-card routerLink="/siparis" class="p-3" (click)="saveMasa(masa)">
            <div class="d-flex justify-content-between mb-2">
              <div class="d-flex flex-column">
                <span>{{ masa.name }} </span>
                <h5>{{ masa.user }}</h5>
              </div>
              <mat-icon>more_vert</mat-icon>
            </div>
            <div class="d-flex justify-content-center">
              <span style="font-size: 20px; font-weight: 450"> </span>
            </div>
            <div class="mt-2"><span>14 gün </span></div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
